.container {
    width: 70%;
    margin: auto;
}

img {
    width: 35%;
    max-width: 150px;
    height: auto;
    float: left;
    margin-right: 1em;
}

body {
    font-size: 24px;
}

p {
    padding-bottom: 1em;
}

dt {
    font-weight: bold;
    font-size: 115%;
}

dd {
    margin-left: 0;
}
